body {
  font-family: 'Poppins', serif;
}

.side_profile {
  position:absolute;
  left:0px;
  top: 0px;
  background-color:red;
  width:20%;
}

.side_group_names {
  position:absolute;
  right:0px;
  top: 0px;
  background-color:blue;
  width:20%;
}

.main_container{
  margin-top: 5%;
  background-color: orange;
  margin-left:20%;
  margin-right:20%;
}

.main_container_elements{
  text-align: center;
  margin:auto;
}

.a_expense_container {}

#add_expense_button {
  background-color: white; /* Green */
  border: none;
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font: inherit;
  width: 80%;
}

#add_expense_button:hover {
  background-color: rgb(200,200,200); /* turn grey */
}

.owe_container {
  display: flex;
}

.owe_column {
  flex: 50%;
  padding: 16px;
  height: 250px;
}

#i_owe{
  background-color: pink;
}

#owe_me{
  background-color: purple;
}

.total_spent {
  background-color: coral;
}

.expected_spent {
  background-color: green;
}
